[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
numpy = "*"
tiktoken = "*"
requests = "*"
openai = {extras = ["embeddings"], version = "*"}
sklearn = "*"
matplotlib = "*"
japanize-matplotlib = "*"
budoux = "*"

[dev-packages]
black = "*"

[requires]
python_version = "3.11"
